{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            基础
        {% endblock %}
    </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{% static 'base/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    {% block extcss %}

    {% endblock %}
</head>
<body>
{% block header %}
    <header>爱鲜蜂</header>

{% endblock %}

<div class="hidescroll">
    <div id="content">
        {% block contert %}
           基础
        {% endblock %}


    </div>
</div>



{% block footer %}
    <footer>
        <a href="{% url 'app:home' %}" class="home">
            <dl>
                <dt>
                    <span></span>
                </dt>
                <dd>主页</dd>
            </dl>

        </a>
        <a href="{% url 'app:market' %}" class="market">
            <dl>
                <dt>
                    <span></span>
                </dt>
                <dd>闪购超市</dd>
            </dl>
        </a>
         <a href="{% url 'app:cart' %}" class="cart">
            <dl>
                <dt>
                    <span></span>
                </dt>
                <dd>购物车</dd>
            </dl>
        </a>
         <a href="{% url 'app:mine' %}" class="mine">
            <dl>
                <dt>
                    <span></span>
                </dt>
                <dd>我的</dd>
            </dl>
        </a>
    </footer>

{% endblock %}
<script src="{% static 'base/js/jquery.js' %}"></script>
<script src="{% static 'base/js/base.js' %}"></script>

{% block extjs %}

{% endblock %}
</body>
</html>